@model IEnumerable<Auction.Web.ViewModels.User.UserViewModel>

@foreach (var user in Model)
{
    <br />
    <strong>Name: @user.UserName</strong>
    <br/>
    string userDetailsId = "user-details-" + user.Id;

    @Ajax.ActionLink("See user details", "UserDetailsById", "Users", new { id = user.Id },
        new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = userDetailsId
            })
    <br/>
    
    <div id="@userDetailsId"></div>
}