@using Auction.Infrastructure.Helpers
@model IEnumerable<global::Auction.Web.ViewModels.User.UserViewModel>

@{
    ViewBag.Title = "All Users";
}

@if (false)
{
    <script src="~/Scripts/jquery-2.0.3-vsdoc.js" type="text/javascript"></script>
}

<div class="container">

    <h2>Search for Users:</h2>

    @using (Ajax.BeginForm("Search", null,
    new AjaxOptions
    {
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }, new { id = "searchForm" }))
    {
        <input type="text" class="search-query form-control" placeholder="Search" name="query" oninput="changed()" />
    }
    <script>
        function changed() {
            $('#searchForm').submit();
        }
    </script>

    <div id="results">
        @Html.Partial("_UsersSearchResults", Model)
    </div>
</div>


