@{
    ViewBag.Title = "AllUsers";
}

<h2>All Users</h2>
<ol id="users"></ol>
<script>
    jQuery(function() {
        jQuery.getJSON("AllUsersAsJson", "", function (data) {
            jQuery(data).each(function (index, user) {
                var newUser = $("<li class='user' style='display:none'>" + user.UserName + "</li>");
                $("#users").append(newUser);
                newUser.show(500);
            });
        });
    });
</script>