@model IEnumerable<Auction.Web.Models.UserViewModel>

@{
    ViewBag.Title = "AllUsers";
}

@if (false)
{
    <script src="~/Scripts/jquery-2.0.3-vsdoc.js" type="text/javascript"></script>
}

<div class="container">
    <h2>All Users</h2>
    <ol id="users"></ol>
    <script>
        jQuery(function () {
            jQuery.getJSON("AllUsersAsJson", "", function (data) {
                jQuery(data).each(function (index, user) {
                    var newUser = $("<li class='user' style='display:none'>" + user.UserName + "</li>");
                    $("#users").append(newUser);
                    newUser.show(500);
                });
            });
        });
    </script>

    <h2>Search for Users:</h2>

    @using (Ajax.BeginForm("Search", null,
    new AjaxOptions
    {
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }, new { id = "searchForm" }))
    {
        <input type="text" class="search-query form-control" placeholder="Search" name="query" oninput="changed()" />
        @Html.Submit(new { @class = "btn btn-info" });
    }
    <script>
        function changed() {
            $('#searchForm').submit();
        }
    </script>

    <div id="results">
        @Html.Partial("_UsersSearchResults", Model)
    </div>
</div>


