@model Auction.Web.Models.UserViewModel

@{
    ViewBag.Title = "CurrentUserDetails";
}

<h2>Your Details</h2>
<p>ID: @Model.Id</p>
<p>Username: @Model.UserName</p>
<p>Phione number: @Model.PhoneNumber</p>
