@model Auction.Web.Models.UserViewModel

@{
    ViewBag.Title = "UserDetails";
}

<h2>UserDetails</h2>
<p>ID: @Model.Id</p>
<p>Username: @Model.UserName</p>
<p>Phione number: @Model.PhoneNumber</p>

@Html.Submit()
