
@{
    ViewBag.Title = "ItemDetails";
}

<h2>ItemDetails</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Panel info</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

