@{
    ViewBag.Title = "About";
}


<div class="jumbotron">
        <h2><a id="ASPNETMVCGraduationProject_0"></a>ASP.NET-MVC-Graduation-Project</h2>
        <h3>Telerik Academy 2016 - <a href="http://ASP.NET">ASP.NET</a> MVC Course - Graduation Project</h3>
        <p>On-line Auction Application “Live Auction”</p>
        <h3>The Idea</h3>
        <p>App for managing on-line instant live auctions(continuing no more than several minutes) for luxury goods like pictures, statues, porcelain, jewellery, post stamps, retro cars etc.</p>
        <p>Using <strong>SignalR</strong> technology implements the fastest possible real-time communication true web-sockets.</p>
        <p>The functionality is as described:</p>
        <h3>Admin functionality:</h3>
        <ul>
            <li>
                Full CRUD operations on Item with upload of pictures
                <ul>
                    <li>The pictures are saved in the Database</li>
                </ul>
            </li>
            <li>Full CRUD operations on Auction for an Item</li>
            <li>
                Manage Auction:
                <ul>
                    <li>Set Auction as Active</li>
                    <li>Close Auction(set it as Inactive)</li>
                    <li>Make bids</li>
                </ul>
            </li>
            <li>Includes all User and free functionality</li>
        </ul>
        <h3>User functionality:</h3>
        <ul>
            <li>
                Create, Read, Edit of User
                <ul>
                    <li>Uploading avatar image</li>
                    <li>Avatar images are saved on the file system</li>
                </ul>
            </li>
            <li>Join to active Auction</li>
            <li>Make bids</li>
        </ul>
        <h3>Free functionality</h3>
        <ul>
            <li>See all Items and details of Items</li>
            <li>See all Auctions and details of Auctions</li>
        </ul>
        <h3>Used frameworks and libraries</h3>
        <ul>
            <li>
                <a href="http://ASP.NET">ASP.NET</a> MVC 5.0
                <ul>
                    <li>Including all default libraries and frameworks</li>
                </ul>
            </li>
            <li><a href="http://ASP.NET">ASP.NET</a> SignalR 2.2.0</li>
            <li>
                Entity Framework 6.1.3
                <ul>
                    <li>Code-first approach</li>
                </ul>
            </li>
            <li>
                jQuery - 2.0.3
                <ul>
                    <li>jQuery UI - 1.11.4</li>
                    <li>Unobtrusive Ajax support library for jQuery</li>
                    <li>jQuery Validation Plugin 1.11.1</li>
                    <li>Unobtrusive validation support library for jQuery and jQuery Validate</li>
                </ul>
            </li>
            <li>Autofac.Mvc 5 - 3.3.3</li>
            <li>Automapper - 4.2.0</li>
            <li>Grid.Mvc - 2.3.0</li>
            <li>
                Bootstrap CSS library
                <ul>
                    <li>Spacelab free theme</li>
                </ul>
            </li>
        </ul>
</div>
