@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Developed by: <a href="mailto:mr_marinov@abv.bg">Marin Marinov</a><br>
    Visit me at: <a href="https://github.com/MarinMarinov">My GitHub</a><br />
    <abbr title=" mobilephone">
        Phone:</abbr>
        +359898561416
</address>

<address>
    <strong>Support: </strong><a href="mailto:mr_marinov@abv.bg">mr_marinov@abv.bg</a><br />
</address>