@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sofia<br />
    <abbr title="Phone">P:</abbr>
    +359898561416
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mr_marinov@abv.bg">mr_marinov@abv.bg</a><br />
</address>