@{
    ViewBag.Title = "Live Auction";
}

<div class="jumbotron">
    <h1>Live Auction</h1>
    <p class="lead">Live Auction is my Telerik Software Academy graduate application</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Really Getting started.
        </p>
    </div>
    
</div>